<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>METCH TEMPO</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="datetime-local" name="dtend" required><br>
        friend's name<br>
        <input type="text" name="friend_name"><br>
        summary<br>
        <input type="text" name="summary"><br>
        start date<br>
        <input
            type="datetime-local"
            name="dtstart"
            value="2024-10-20T00:00"
            min="2024-10-20T00:00"
            max="2027-12-31T23:59" /><br>
        end date<br/>
        <input
            type="datetime-local"
            name="dtstart"
            value="2024-10-20T00:00"
            min="2024-10-20T00:00"
            max="2027-12-31T23:59" /><br>
        location<br/>
        <input type="text" name="location"><br>
        <input type="file" name="mainphoto"><br>
        <input type="submit" value="add" name="add">
    </form>
</body>
</html>